/* variables */

//colors
$black: #000000;
$white: #ffffff;
$red: #EF493E;
$black90:rgba(0,0,0,0.9);

//font-sizes
$font-xl: 95pt;
$font-l: 58pt;
$font-m: 24pt;
$font-logo: 24pt;

//font weights
$weight-light: 300;
$weight-normal: 400;
$weight-bold: 700;
$weight-black: 900;

//line heights
$line-height-low:0.9em;
$line-height-1: 1.0em;
$line-height-high:1.2em;