/* variables */

//colors
$black: #000000;
$white: #ffffff;
$red: #EF493E;

$black90:rgba(0,0,0,0.9);

//font sizes
$hero: 80pt;

//font weights
$font-normal: 400;
$font-bold: 700;
$text-black: 900;

//line heights
$line-height-low:0.9em;
$line-height-1: 1.0em;
$line-height-high:1.2em;


//header height
$headerHeight: 80px;