/* header */
.site-header{
  height: 70px;
  background:$white;

  .container{
    height:100%;
  }
}

.site-header__contents{
  justify-content: space-between;
  align-items:center;
  height:100%
}

.site-header__logo{
  color:$red;
  font-size: $font-logo; 
  font-weight:$weight-bold;
  text-decoration:none;
}
