/* header */
.site-header{
  height: $header-height;
  background:$white;

  .container{
    height:100%;
  }
}

.site-header__contents{
  justify-content: space-between;
  align-items:center;
  height:100%
}

.site-header__logo{
  color:$red;
  font-weight:$weight-bold;
  text-decoration:none;
  display: block;

  img{
    max-width:200px;
  }
}
