/* select color */
::-moz-selection { /* Code for Firefox */
    //color: red;
    background: $red;
}

::selection {
    //color: red; 
    background: $red;
}

/* some stuff gets set on the body */
body{
  //font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  background:$white;
}