/* variables */

//colors
$black: #000000;
$white: #ffffff;
$red: #EF493E;

$black90:rgba(0,0,0,0.9);

//font sizes
$hero: 80pt;

//font weights
$font-normal: 400;
$font-bold: 700;
$text-black: 900;

//line heights
$line-height-low:0.9em;
$line-height-1: 1.0em;
$line-height-high:1.2em;


//header height
$headerHeight: 80px;


/* select color */
::-moz-selection { /* Code for Firefox */
    //color: red;
    background: $red;
}

::selection {
    //color: red; 
    background: $red;
}

/* some stuff gets set on the body */
body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background:$white;
}

/* header */
.site-header{
  height: 80px; //not correct
  background:$white;
  // position:fixed;
  // top:0;
  // width:100%;

  .container{
    height:100%;
  }
}


.site-header_contents{
  justify-content: space-between;
  align-items:center;
  height:100%
}

.logo{
  color:$red;
  font-size: 40px; //not correct;
  text-decoration:none;

}

/* site nav */
.site-nav{
  display:none;
  position:absolute;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  background: $black90;
  color:$white;
}

body.nav-active .site-nav{
  display:block;
}

/* footer */

/* home page hero section */
.hero-wrap{
  background-color: black;
  height:calc(100vh - 80px);

  .container {
    height: 100%;
  }
}

.hero {
  height: 100%;
  display: flex;
  align-items: center;

  h1{
    color:$white;
    font-size: $hero;
    line-height:$line-height-1;
    font-weight:$text-black;
    position:relative;
    display:inline;2
  }
  .cursor {
      animation: cursor 2s linear infinite;
    }
}
@keyframes cursor {  
  50% { opacity: 0; }
}