/* home page hero section */
.hero-wrap{
  background-color: black;
  height:calc(100vh - 70px);

  .container {
    height: 100%;
  }
}

.hero {
  height: 100%;
  display: flex;
  align-items: center;

  .hero__h1{
    color:$white;
    font-size: $font-xl;
    line-height:$line-height-1;
    font-weight:$weight-black;
    position:relative;
    display:inline;
  }
  .hero__h1_typewriter-text{

  }
  .hero_h1__cursor {
      animation: cursor 2s linear infinite;
    }
}
@keyframes cursor {  
  50% { opacity: 0; }
}