/* home page section.portfolio */
.portfolio__row {
  display: flex;
  justify-content: space-between;

  &.port-row-2-1{
    .portfolio__item:nth-child(1) {
      flex: 2;
   }
  } 

  &.port-row-1-2{
    .portfolio__item:nth-child(2) {
      flex: 2;
   }
  } 
}

a.portfolio__item{
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 350px; 
  width: 402px;
  margin-bottom: 22px;
  position: relative;
  overflow:hidden;

  &:not(:last-of-type) {
    margin-right: 22px;
  }

  .portfolio-item__title{
    font-size: 24pt;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55px;
    background: $red;
    color: $white;
    transform: translateY(-55px);
    transition: transform 0.2s ease;
  }

  &:hover {
    .portfolio-item__title{
      transform: translateY(0);
    }
  }
}

