/* home page section.portfolio */
.portfolio__row {
  display: flex;
  justify-content: space-between;

  .portfolio__item {
    flex: 1;
  }

  &.port-row-2-1{
    .portfolio__item:nth-child(1) {
      flex: 2;
   }
  } 

  &.port-row-1-2{
    .portfolio__item:nth-child(2) {
      flex: 2;
   }
  } 

}


a.portfolio__item{
  display:block;
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center center;
  height:350px; 
  margin-bottom:22px;

  &:not(:last-of-type) {
    margin-right:22px;
  }
}

